<img src="cid:emailheader.png"><br />
Hi {{ name }},<br />
<br />
You haven’t used all your Free $! Use them and get a chance to win awesome products.<br />
<br />
How to use your Free $?<br />
-You can only use Free $ on ‘’sponsored accepted’’ products on top of the list.<br />
<br />
How to get more Free $?<br />
1 - When you join OneDollar community, merchants sponsored a Free $ to bet on their ‘’sponsored accepted’’ products. That’s the first one.<br />
<br />
2 - To get your second Free $: Open the menu drawer in the app via the menu icon on the upper left corner, then tap ‘’Share with with friends  - Free $’’. Share the app on your Facebook wall and enjoy a Free $. <br />
<br />
Thank you for using OneDollar,<br />
<br />
Jennifer - OneDollar Team <br />
<a href="http://www.onedollarapp.biz/">www.onedollarapp.biz</a><br />
<br />
*Got questions? Visit our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section<br />
