<img src="cid:emailheader.png"><br />
{% if name %}Hi {{ name }},{% else %}Hi,{% endif %}<br />
<br />
Congratulations ! You sold:<br />
Product : {{ product_title }}<br />
Country : {{ winner.country.name }}
Total tickets sold: {{ sold_tickets }} - Winning ticket : {{ win_number}} <br />
to<br />
First Name: {{ winner.first_name }}<br />
Last name : {{ winner.last_name }}<br />
Street 1: {{ winner.street1 }}<br />
Street 2: {{ winner.street2 }}<br />
Postal code: {{ winner.postal_code }}<br />
Province: {{ winner.province }}<br />
City: {{ winner.city }}<br />
Country: {{ winner.country.name }}<br />
Email: {{ winner.email }}<br />
Phone: {{ winner.phone }}<br />
<br />
You have 30 days to send your product to the winner.<br />
<br />
If you have any other questions you can check our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> sections or get in touch with the seller by using the ‘chat’.<br />
<br />
Thank you for using OneDollar,<br />
<br />
OneDollar Team <br />
<a href="http://www.onedollarapp.biz/">www.onedollarapp.biz</a><br />
<br />
*Got questions? Visit our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section<br />

