<img src="cid:emailheader.png"><br />
{% if name %}Hi {{ name }},{% else %}Hi,{% endif %}<br />
<br />
Your current balance is $0.<br />
<br />
To top-up your balance, you have multiple choices :<br />
<br />
On iPhone:<br />
We don’t yet allow user to top-up directly from the app on iPhone, please top-up your account from OneDollar website directly.<br />
<a href="http://www.onedollarapp.biz">www.onedollarapp.biz</a><br />
<br />
On Android:<br />
You can top-up your account directly from the app or OneDollar website.<br />
<br />
Bets pack :  $10 , $50 , $100  ($1 = 1 bet)<br />
<br />
Thank you for using OneDollar,<br />
<br />
Jennifer - OneDollar Team <br />
<a href="http://www.onedollarapp.biz/">www.onedollarapp.biz</a><br />
<br />
*Got questions? Visit our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section<br />
