<img src="cid:emailheader.png"><br />
{% if name %}Hi {{ name }},{% else %}Hi,{% endif %}<br />
<br />
Thank you for joining One Dollar community. Want a new phone, a fashion bag or a watch for $1 ? Now, you can.<br />
<br />
One Dollar is a platform for e-commerces who want to get rid of their stock using a dollar betting concept. And now, you can access to these products and win them for $1. <br />
<br />
How to play ? It‘s easy:<br />
<br />
1 – Tap to bet on products and check their progresses in your ‘'Cart‘‘<br />
2 – When all tickets are sold or at the end of a certain period, winners are announced by e-merchants.<br />
3 – If you are the lucky winner, claim your price and you receive it at home for free.<br />
<br />
The more you bet the more you win. Unlock all products and more with your first top-up.<br />
<br />
Thank you for using One Dollar and good luck.<br />
<br />
Jessica from One Dollar Team<br />
<a href="http://www.onedollarapp.biz/">www.onedollarapp.biz</a><br />
<br />
*Got questions? Visit our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section<br />
*You can top-up your account in the app using Paypal or any credit cards (scancard safe).<br />

