<img src="cid:emailheader.png"><br />
{% if name %}Hi {{ name }},{% else %}Hi,{% endif %}<br />
<br />
Congratulations ! You are the winner of :<br />
Product : {{ product_title }}<br />
Winning ticket : {{ win_number}} <br />
<br />
Now, how to get your product delivered in just few steps?<br />
1 – Open the app <br />
2 – Claim your product when prompted to do so. If not, tap the ‘’Cart icon’’ > ‘’Won’’ tab > tap the product or Claim button.<br />
3 – Enter a valid delivery address (no international shipment)<br />
4 – Share your victory on Facebook and send referral link to your friends to get extra $<br />
<br />
Wait for your prize to arrive!<br />
<br />
Merchants have 30 days to ship your product. Products are under merchant’s warranty so please keep the delivery receipt in case of any problem.<br />
<br />
If you have any other questions you can check our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section or get in touch with the seller by using the ‘chat’. Open the drawer >Messages >Select your prize.<br />
<br />
Thank you for using OneDollar,<br />
<br />
OneDollar Team <br />
<a href="http://www.onedollarapp.biz/">www.onedollarapp.biz</a><br />
<br />
*Got questions? Visit our <a href="http://www.onedollarapp.biz/faq/">FAQ</a> section or reply to this email.<br />
