{% extends 'merchants/base.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'merchants/css/forget_password.css' %}">
{% endblock %}

{% block content %}
   <div id="forget-password-page-content" class="center">
    <div class="hero-unit">
       <form id="request-password-reset-form">
          <legend>Reset Password</legend>
          <div>
             <p>
                Please enter your email.
             </p>
             <p>
                If you don't remember your username or/and email,
                please contact support at merchant_support@wish.com
             </p>
          </div>
          <div>
             <input type="email" id="email" name="email" class="input-xlarge" required="true" placeholder="Enter Email">
          </div>
          <button class="btn btn-large btn-primary" type="submit">Reset Password</button>
       </form>
    </div>
  </div>
{% endblock %}

{% block global_js %}
<script type="text/javascript">

  var sendMail = true;

  $("#request-password-reset-form").submit(function() {
    if (sendMail){
      $.ajax({
        type: "POST",
        url: '/api/password/forget/',
        data: $("#request-password-reset-form").serialize(),
        dataType: "json",
        success: function (data) {  
          if (data.success){
            $('#email').prop("disabled", true);
            $('.btn-primary').prop("disabled", true);
            sendMail = true;
            alert(data.message);
          }
        },
        error: function(jqXHR, text, error){
          alert('Error!');
        }
      });      
      return false;
    }
  });

</script>
{% endblock %}