{% extends 'merchants/base.html' %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'merchants/css/reset_password.css' %}">
{% endblock %}

{% block content %}
<div id="page-content" class="container-fluid  ">
  <div id="reset-password-page" class="center">
    <form class="form form-horizontal" id="reset-password-form">
      <legend>
        Reset password
      </legend>
      <p>
        <strong>Please enter your username and a new password to reset your old password.</strong>
      </p>
      <div class="control-group">
        <label class="control-label">
        Password
        </label>
        <div class="controls">
          <input id="password" type="password" name="password" class="input-xlarge require" placeholder="Enter password">
          <div class="error-label hide"></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
        Confirm Password
        </label>
        <div class="controls">
          <input id="confirm_password" type="password" name="confirm_password" class="input-xlarge require" placeholder="Confirm password">
          <div class="error-label hide"></div>
        </div>
      </div>
      <button id="signup-btn" class="btn btn-large btn-primary" type="submit">Reset</button>
    </form>
  </div>
</div>
{% endblock %}

{% block global_js %}
<script type="text/javascript">
$(document).ready(function(){

  var formData = {};
  formData['code'] = getUrlParameter('code');

  $("#reset-password-form").submit(function() {
    if ($('#password').val() == $('#confirm_password').val()){
      formData['password'] = $('#password').val();
      $.ajax({
        type: "POST",
        url: '/api/password/forget/',
        data: formData,
        dataType: "json",
        success: function (data) {  
          console.log(data);
          $(location).attr('href', '{% url "index" %}');
        },
        error: function(jqXHR, text, error){
          alert('Error! Please contact admin for more information!');
        }
      });      
      return false;
    } else {
      alert('Confirm new password is not correct!');
      return false;
    }
  });

});
</script>
{% endblock %}