{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original.id %}
    <li>
        <a href="{% url 'productbets' pk=original.id %}" target="_blank">View bets</a>
    </li>
    <li>
        {% if not original.is_finished %}
        <a style="background-color: red" href="#" onclick="django.jQuery('#btnDrawWinner').click()">{% trans 'Draw Winner now!' %}</a>
        {% endif %}
    </li>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <input style="display: none" id="btnDrawWinner" type="submit" value="{% trans 'Draw Winner now!' %}" name="_drawwinner" />
{% endblock %}
