{% extends "admin/change_list.html" %}

{% load i18n admin_urls admin_static admin_list %}

{% block result_list %}
{% pagination cl %}
{{ block.super }}
{% endblock %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript">
    django.jQuery(function($) {
        var settings = {
            "async": true,
            "crossDomain": true,
            "url": "/api/users/me/badges/chat/?from=bechat",
            "method": "GET",
            "headers": {
                "content-type": "application/json",
                "authorization": "Token {{ user.token }}",
            }
        }

        $.ajax(settings).done(function (response) {
            $('span.timezonewarning').remove();

            ids = "";
            for (var i=0, total=response.length; i < total; i++) {
                if (i > 0) {
                    ids += "|";
                }
                ids += response[i];
            }

            var $trs = $("th.field-id").filter(function(index) { return ids.indexOf($(this).text()) != "-1"; }).parents("tr");
            $trs.css('background-color', 'yellow');
        });
    });
</script>
{% endblock %}
